.header {
  background: var(--color-background-light);
  display: flex;
  flex-direction: column;
  height: 14vh;
  z-index: 16;
}
.header .content {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .content ul {
  display: flex;
}

.header .content a {
  color: var(--color-text);
  height: 100%;
  text-decoration: none;
  margin-right: 1vw;
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
}

.header-logo-img {
  height: 8vh;
}

.socials {
  width: 100%;
  background-color: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.socials ul {
  display: flex;
  height: 5vh;
  align-items: center;
}

.socials .iconify {
  color: white;
  height: 3vh;
  width: 3vh;
  margin-right: 1vw;
  transition: opacity 0.12s;
  cursor: pointer;
}

.socials .iconify:hover {
  opacity: 0.6;
}

@media (max-width: 1023px) {
  .desktop {
    display: none;
  }

  .header {
    transition: 0.4s;
    position: fixed;
    width: 100%;
    height: 16vh;
    justify-self: center;
  }

  .header .content {
    flex-direction: row-reverse;
  }

  .header .content .iconify {
    color: white;
    height: 5.5vh;
    width: 5.5vh;
    margin-left: 15px;
  } 

  .socials{
    height: 80%;
    transition: 0.4s;
  }

  .hide{
    height: 12vh !important;
  }

  .hide  .socials{
    height: 0;
  }

  .hide .socials .iconify {
    height: 0 !important;
    width: 0 !important;
  }

  .hide .header-nav{
    margin-top: 12vh !important;
  }

  .socials .iconify {
    color: white;
    height: 5vh;
    width: 5vh;
    margin-right: 1vw;
    transition: 0.4s;
    cursor: pointer;
  }

  .header .content ul {
    flex-direction: column;
  }

  .header .content a {
    display: flex;
    align-items: center;
  }

  .socials-mobile ul {
    flex-direction: row;
  }

  .header-nav {
    position: fixed;
    background-color: var(--color-background);
    margin-top: 16vh;
    height: 88vh;
    width: 60vw;
    top: 0;
    transition: 0.4s;
    left: -60vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-nav li {
    min-height: 8vh;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .header-nav li a {
    padding-left: 4vw;
    width: 100%;
    height: 100%;
  }

  .header .content .socials-mobile ul {
    flex-direction: row;
  }
  .open {
    left: 0;
  }
}
